@import 'tailwindcss';

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

html.light {
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #ffffff;
  color: #09090b;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark body {
  background: #09090b; /* zinc-950 */
  color: #fafafa;
}
